<form #formularioActividad ="ngForm" (ngSubmit)="modificarActividad(formularioActividad.value)">

    <div style="visibility: visible;">
        <label>ID:</label>
        <input type="number" name="id" readonly required [(ngModel)]="act.id">
    </div>
    <div>
        <label>Nombre:</label>
        <input type="text" name="nombre" required [(ngModel)]="act.nombre">
    </div>
    <div>
        <label>Duración:</label>
        <input type="text" name="duracion" required [(ngModel)]="act.duracion">
    </div>
    <div>
        <label>Precio:</label>
        <input type="text" name="precio" required [(ngModel)]="act.precio">
    </div>
    <div>
        <label>Fecha:</label>
        <input type="date" name="fecha" required [(ngModel)]="act.fecha">
    </div>
    <div>
        <label>¿Es al aire libre?</label>
        <input type="checkbox" name="aireLibre" [(ngModel)]="act.aireLibre">
    </div>
    <div>
        <label>¿Es para mayores de edad?</label>
        <input type="checkbox" name="mas18" [(ngModel)]="act.mas18">
    </div>
    <div>
        <label>Tipo:</label>
        <select name="tipo" required [(ngModel)]="tipo">
            @for (tipoIt of tipos; track $index) {
                @if (tipoIt.id == tipo.id) {
                    <option [ngValue]="tipoIt">
                        {{tipoIt.nombre}}
                        </option>
                }@else {
                    <option [ngValue]="tipoIt">
                        {{tipoIt.nombre}}
                    </option>
                }
            }
        </select>
    </div>
    <div>
        <label>Ofertante</label>
        <select name="ofertante" required [(ngModel)]="ofertante">
            @for (ofertanteIt of ofertantes; track $index) {
                    <option [ngValue]="ofertanteIt">
                    {{ofertanteIt.usuario.username}}
                    </option>
                }
            
        </select>
    </div>
    <button type="submit" [disabled]="!formularioActividad.valid">Paki</button>
    <button type="button" (click)="volver()">Cancelar</button>
</form>

