<button (click)="mostrarFormConsumidor()">Formulario de Consumidor</button>
<button (click)="mostrarFormOfertante()">Formulario de Ofertante</button>

@if(mostrarFormCons){
<div class="form-control" visible="mostrarCons">
    <!--------------------------------------------BOTON PARA AUTORELLENAR LOS DATOS SI EXISTE USUARIO-------------------------------------------------------->
    <form #userNameRellenarCons="ngForm" (ngSubmit)="autoRellenoCons(userNameRellenarCons.value)">
        <button type="button" (click)="mostrarDatosUsuarioCons()">
          ¿Tienes ya una cuenta para inscribirte en actividades?
        </button>
        @if(botonAutorellenoCons){
        <div>
          <label>Introduzca su nombre de usuario:</label>
          <input type="text" name="usernameBuscar" required [(ngModel)]="usernameCons" />
          <button type="submit" [disabled]="!userNameRellenarCons.valid">Autorellenar</button>
        </div>
        }
      </form>
  <!--------------------------------------------FORMULARIO DE REGISTRAR CONSUMIDOR-------------------------------------------------------->
  <form #formularioConsumidor="ngForm" (ngSubmit)="registrarConsumidor()">
    <div style="visibility: hidden">
      <label>ID:</label>
      <input type="number" name="id" required [(ngModel)]="consumidor.id" />
    </div>
    <div>
      <label>Nombre:</label>
      <input
        type="text"
        name="nombre"
        required
        [(ngModel)]="consumidor.nombre"
      />
    </div>
    <div>
      <label>Apellidos:</label>
      <input
        type="text"
        name="apellido"
        required
        [(ngModel)]="consumidor.apellido"
      />
    </div>
    <div>
      <label>Fecha de nacimiento:</label>
      <input
        type="date"
        name="fechaNacimiento"
        required
        [(ngModel)]="consumidor.fechaNacimiento"
      />
    </div>
    <div>
      <label>Nombre de Usuario:</label>
      <input
        type="text"
        name="username"
        required
        [readOnly]="botonAutorellenoCons"
        [(ngModel)]="usuarioCons.username"
      />
    </div>
    <div>
      <label>Contraseña:</label>
      <input
        type="password"
        name="password"
        required
        [(ngModel)]="consumidor.password"
      />
    </div>
    <div>
      <label>Email:</label>
      <input
        type="email"
        name="email"
        required
        [(ngModel)]="usuarioCons.email"
      />
    </div>
    <button type="submit" [disabled]="!formularioConsumidor.valid">Paki</button>
    <button type="button" routerLink="adminActs">Cancelar</button>
  </form>
</div>




} @if(mostrarFormOfer){
<div class="form-control">
    <!--------------------------------------------BOTON PARA AUTORELLENAR LOS DATOS SI EXISTE USUARIO-------------------------------------------------------->
  <form #userNameRellenarOfer="ngForm" (ngSubmit)="autoRellenoOfer(userNameRellenarOfer.value)">
    <button type="button" (click)="mostrarDatosUsuarioOfer()">
      ¿Tienes ya una cuenta para inscribirte en actividades?
    </button>
    @if(botonAutorellenoOfer){
    <div>
      <label>Introduzca su nombre de usuario:</label>
      <input type="text" name="usernameBuscar" required [(ngModel)]="usernameOfer" />
      <button type="submit" [disabled]="!userNameRellenarOfer.valid">Autorellenar</button>
    </div>
    }
  </form>
  <!--------------------------------------------FORMULARIO DE REGISTRAR CONSUMIDOR-------------------------------------------------------->
  <form #formularioOfertante="ngForm" (ngSubmit)="registrarOfertante()">
    <div style="visibility: hidden">
      <label>ID:</label>
      <input type="number" name="id" required [(ngModel)]="ofertante.id" />
    </div>
    <div>
      <label>Nombre:</label>
      <input
        type="text"
        name="nombre"
        required
        [(ngModel)]="ofertante.nombre"
      />
    </div>
    <div>
      <label>Apellidos:</label>
      <input
        type="text"
        name="apellido"
        required
        [(ngModel)]="ofertante.apellido"
      />
    </div>
    <div>
      <label>Fecha de nacimiento:</label>
      <input
        type="date"
        name="fechaNacimiento"
        required
        [(ngModel)]="ofertante.fechaNacimiento"
      />
    </div>
    <div>
      <label>Nombre de Usuario:</label>
      <input
        type="text"
        name="username"
        [readOnly]="botonAutorellenoOfer"
        required
        [(ngModel)]="usuarioOfer.username"
      />
    </div>
    <div>
      <label>Contraseña:</label>
      <input
        type="password"
        name="password"
        required
        [(ngModel)]="ofertante.password"
      />
    </div>
    <div>
      <label>Email:</label>
      <input
        type="email"
        name="email"
        required
        [(ngModel)]="usuarioOfer.email"
      />
    </div>
    <button type="submit" [disabled]="!formularioOfertante.valid">Paki</button>
    <button type="button" routerLink="adminActs">Cancelar</button>
  </form>
</div>
}
