<div>
    <h1>Bienvenido {{banner}}</h1>
    <nav>
        @if(showButtonOfe){
        <button routerLink="//mainOf/{{idOf}}">Acceder a cuenta de Ofertante</button>
        <button routerLink="/mainC/{{idC}}">Acceder a cuenta de Consumidor</button>
        }
        @if(showButtonCons){
        <button routerLink="/mainAc">Actividades disponibles</button>
        <button routerLink="/mainC/{{idC}}">Actividades a las que estoy suscrito</button>
        <button routerLink="/form/{{idC}}">Editar mis credenciales</button>
        }
    </nav>
</div>