<div>
    <form #formLogin="ngForm" (ngSubmit)="mandarCreds(creds)">
        <div>
            <label>Usuario:</label>
            <input id="usuario" name="usuario" type="text" [(ngModel)]="creds.usuario" required>
        </div>

        <div>
            <label>Contraseña:</label>
            <input id="contrasenya" name="contrasenya" type="password" [(ngModel)]="creds.contrasenya" required>
        </div>

        <div>
            <button type="submit" [disabled]="!formLogin.valid">Entrar</button>
        </div>
    </form>

    <div>
        <a routerLink="/registro"><p>¿No formas parte de nuestra comunidad? ¡Únete!</p></a>
    </div>
</div>