<table>
    <thead>
        <th>Nombre</th>
        <th>Duración</th>
        <th>Precio</th>
        <th>Fecha</th>
        <th>Ofertada por</th>
        <th>Tipo</th>
    </thead>
    
    <tbody>
        @for (act of acts; track $index) {
            <tr>
                <td>{{act.nombre}}</td>
                <td>{{act.duracion}}</td>
                <td>{{act.precio}}</td>
                <td>{{act.fecha | date}}</td>
                <td>{{act.ofertante.usuario.username}}</td>
                <td>{{act.tipo.nombre}}</td>
                <td><button routerLink="/actividadForm/{{act.id}}">Editar</button></td>
                <td><button (click)="borrarActividad(act.id)">Borrar</button></td>
            </tr>
        }
    </tbody>

    <tfoot>
        <button routerLink="/actividad">Añadir Actividad</button>
        <button routerLink="/admin">Nos Fuimo</button>
    </tfoot>

</table>
